#calculate {
  width: 80px;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  border: 2px solid black;
}

.calorie-title {
  text-align: center;
  font-size: 50px;
}

#tracker {
  background-color: aliceblue;
  width: 600px;
  border: 1px solid;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  padding: 20px;
}

.calorie-input {
  list-style: none;
}

.calorie-input li {
  padding: 10px;
}

.calorie-input li input {
  position: relative;
  width: 80px;
  margin-left: 10px;
}

#feet,
#inches {
  width: 25px;
}

#calories {
  text-align: left;
}

.calorie-hidden {
  display: none;
}

#results, #calories {
  text-align: center;
}
