body, html {
    height: 100%;
    font-family: sans-serif;
}

/*image background*/
.bg {
    background-image: url(./assets/fitness\ backgrounf.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  


/* hamburger and nav */
*,
*::after,
*::before {
    box-sizing:border-box;
}

:root {
    --bar-width: 40px;
    --bar-height: 6px;
    --hamburger-gap: 5px;
    --foreground: #333;
    --background: black;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.21231356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
}
.hamburger-menu:has(input:checked) {
    --foreground: black;
    --background: white;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
} 

.sidebar {
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 0.5rem);
    background-color: var(--background);
    color: var(--background);
    max-width: 11rem;
    min-height: 10vh;
}

.hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
}

a {
    color: rgb(224, 246, 255);
    font-size: large;
}

a:hover {
    color: rgb(78, 99, 132);
}

a:active {
    color: blue;
}


.title {
    color: rgb(81, 187, 237);
    position: absolute;
    right: 25px;
    font-size: 35px;
}


/* Page introduction */
.intro {
    text-align: center;
    font-size: 3vw;
    font-family: sans-serif;
    background: linear-gradient(to right, rgba(255, 215, 255, 0) 0%, rgba(225, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 61%), linear-gradient(rgb(97, 183, 217) 52%, rgb(224, 246, 255) 60%, rgb(78, 99, 132) 61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: wave 2000ms ease alternate infinite;
    transition: all 0.4s ease;
}

@keyframes wave {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 50vw 10px;
    }
}

.start {
    text-align: center;
    font-size: 3vw;
    color: rgb(224, 246, 255);
    font-family: sans-serif;
}

button {
    cursor: pointer;
}