body, html {
    height: 100%;
    font-family: sans-serif;
}

/* Image background */
.bg {
    background-image: url(./assets/fitness\ backgrounf.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  


/* Hamburger and nav */
*,
*::after,
*::before {
    box-sizing:border-box;
}

:root {
    --bar-width: 40px;
    --bar-height: 6px;
    --hamburger-gap: 5px;
    --foreground: #70beef;
    --background: transparent;
    --hamburger-margin: 20px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.21231356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
}
.hamburger-menu:has(input:checked) {
    --foreground: black;
    --background: white;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
} 

.sidebar {
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 0.5rem);
    background-color: var(--background);
    color: var(--background);
    max-width: 11rem;
    min-height: 10vh;
}

.hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
}

a {
    color: rgb(224, 246, 255);
    font-size: large;
}

a:hover {
    color: rgb(78, 99, 132);
}

a:active {
    color: blue;
}


/* Page introduction */

.title {
    color: rgb(81, 187, 237);
    margin-top: 0;
    position: absolute;
    right: 25px;
    font-size: 2.5rem;
    background: linear-gradient(to right, rgba(255, 215, 255, 0) 0%, rgba(225, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 61%), linear-gradient(rgb(97, 183, 217) 52%, rgb(224, 246, 255) 60%, rgb(78, 99, 132) 61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: wave 2000ms ease alternate infinite;
    transition: all 0.4s ease;
}

.intro {
    text-align: center;
    font-size: 3vw;
    font-family: sans-serif;
    color: aliceblue;
    text-shadow: 0px 0px 5px #70b0ef, 0px 0px 10px #70b0ef, 0px 0px 10px #70b0ef;
    
}

.subtitle {
    text-align: center;
    font-size: 3vw;
    font-family: sans-serif;
    background: linear-gradient(to right, rgba(255, 215, 255, 0) 0%, rgba(225, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 61%), linear-gradient(rgb(97, 183, 217) 52%, rgb(224, 246, 255) 60%, rgb(78, 99, 132) 61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: wave 2000ms ease alternate infinite;
    transition: all 0.4s ease;
}

@keyframes wave {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 50vw 10px;
    }
}


/* Explore button */

.start {
    text-align: center;
    font-size: 3vw;
    color: rgb(155, 206, 226);
    font-family: sans-serif;
}

button {
    cursor: pointer;
    font-size: 1.5rem;
}

button:hover {
    color: #70b0efx;
}


/* CSS */
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 1px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: din-round,sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: auto;
  outline: none;
  overflow: visible;
  padding: 8px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  max-width: fit-content;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.5);
  -webkit-filter: brightness(1.2);
}

.button-19:disabled {
  cursor: auto;
}