@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 auto;
    width: 100%;
}

.form-card {
  margin: auto;
  margin-top: 50px;
}

.save-btn {
    float: right;
}



@media (max-width: 860px){
    header .navigation{
        display: none;
    }
}